/* .App {
  align-items: center;
  background-color: 120deg,#1e8634,#0a520b;
  display: flex;
  height: 100vh;
  justify-content: center;
}  */

/* .header {
  align-items: center;
  background-color: #383838;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.forms {
  align-items: center;
  background-color: #222;
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
} */
